@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(118, 75, 162, 1);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(118, 75, 162, 0.9);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(118, 75, 162, 1) #000000;
}

  

  